<!--[if lt IE 8]>
p.browsehappy
  | Vous utilisez un navigateur <strong>obsolète</strong>.
  | Pourquoi pas le <a href="http://browsehappy.com/">mettre à jour</a>
  | et ainsi mieux profiter du web ?
<![endif]-->

header
  h1 Let’s Gulp