head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Ready to start !
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", type="text/css", href="assets/css/style.min.css")
  script(src='//cdn.jsdelivr.net/g/modernizr')

  //- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices
  link(rel="apple-touch-icon-precomposed", href="apple-touch-icon-precomposed.png")
  //- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6:
  link(rel="apple-touch-icon-precomposed", sizes="72x72", href="apple-touch-icon-72x72-precomposed.png")
  //- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7:
  link(rel="apple-touch-icon-precomposed", sizes="76x76", href="apple-touch-icon-76x76-precomposed.png")
  //- For iPhone with high-resolution Retina display running iOS ≤ 6:
  link(rel="apple-touch-icon-precomposed", sizes="114x114", href="apple-touch-icon-114x114-precomposed.png")
  //- For iPhone with high-resolution Retina display running iOS ≥ 7:
  link(rel="apple-touch-icon-precomposed", sizes="120x120", href="apple-touch-icon-120x120-precomposed.png")
  //- For iPad with high-resolution Retina display running iOS ≤ 6:
  link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144-precomposed.png")
  //- For iPad with high-resolution Retina display running iOS ≥ 7:
  link(rel="apple-touch-icon-precomposed", sizes="152x152", href="apple-touch-icon-152x152-precomposed.png")
  //- Chrome v31+ for Android
  link(rel="icon", sizes="196x196", href="apple-touch-icon.png")
