extends ./layouts/_default

block content
    :markdown

        Is it your first travel to Gulp land ?

        This is a sample starter page. To modify it go to `./src/index.jade` and enjoy.

        The less files are in `./src/less`, will be outputed into `./build/assets/css`

        The js files &amp; vendors are in `./src/js`, will be outputed into `./build/assets/js`

        The source images files can be dropped in `./src/images` and will be compressed and copied to `./build/assets/images`.






