doctype html
html(lang="fr")
  head
    title Ready to start !
    link(rel="stylesheet", type="text/css", href="assets/css/style.min.css")

  body
    h1 Hello page is here, ready to go ohoho
    :markdown
        Is it your first travel to Gulp land ?

        This is a sample starter page. To modify it go to `/src/index.jade` and enjoy.

        The less files are in `/src/less`

        The source images files can be dropped in `src/images` and will be compressed and copied to `/build/assets/images`.