extends ./layouts/_default

block content

        h1 Is it your first travel to Gulp land ?

        p This is a sample starter page. To modify it go to `./src/index.jade` and enjoy.

        p The less files are in `./src/less`

        p The source images files can be dropped in `./src/images` and will be compressed and copied to `./build/assets/images`.









