doctype html
//if IE 8
    <html class="lt-ie9">
// [if gt IE 8] <!
html(lang="fr", class="nojs")
  // <![endif]
  include ./default-partials/_html-header

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    include default-partials/_header
    block content
    include default-partials/_footer